<h3>Liste de fan</h3>

<p-table [value]="listView" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="caption">
        Liste de fan
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="border : 1px solid black">Nom du fan</th>
            <th style="border : 1px solid black">Actions</th>
        </tr>
    </ng-template>
    <ng-template let-f pTemplate="body">
        <tr>
            <td>{{f.name}}</td>
            <td>
                <button pButton (click)="detail(f.id)" class="p-button-sm" icon="pi pi-file" label="Détails"></button> &nbsp; 
                <button pButton (click)="modifier(f.id)" class="p-button-sm">Modifier</button> &nbsp; 
                <button pButton (click)="supprimer(f.id)" class="p-button-sm" icon="pi pi-trash"></button>
            </td>
        </tr>
    </ng-template>
</p-table>