<h3>Création d'un fan</h3>
<hr />
<form [formGroup]="fg" (ngSubmit)="submitForm()">
    <p-fieldset legend="Info perso">
        <p>
            <span class="p-float-label">
            
            <input pInputText type="text" id="nom" formControlName="nom" />
            <label for="nom">Nom</label>
        </span>
            <span *ngIf="fg.controls['nom'].invalid && !fg.controls['nom'].pristine" style="color : red">
                Nom est requis
            </span>
        </p>
        <p>
            Date de naissance : <p-calendar formControlName="bday"></p-calendar>
            <span *ngIf="fg.controls['bday'].invalid && fg.controls['bday'].errors" style="color : red">
                {{fg.controls['bday'].errors['dateError']}}
            </span>
        </p>
    </p-fieldset>
    <p-fieldset>
        <ng-template pTemplate="header">
            Series préférées
            <button pButton icon="pi pi-plus" class="p-button-raised p-button-sm p-button-rounded" type="button" (click)="addSerie()"></button>
        </ng-template>
        
        <div *ngIf="getSeries().controls" formArrayName="series">
            <p *ngFor="let c of getSeries().controls; let i = index">
                Série {{i+1}} <input pInputText type="text" [formControlName]="i">
                 <button type="button" (click)="removeSerie(i)" pButton icon="pi pi-trash"></button>
            </p>
        </div>
    </p-fieldset>
    <button pButton labal="Valider" icon="pi pi-check" type="submit" [disabled]="fg.invalid"></button>
</form>